.site__container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 100px;
}

.btn {
  background-image: linear-gradient(#3882f6, #0c63d4);
  border-radius: 5px;
  border: 1px solid #0077cc;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
}
.btn-outline {
  border-radius: 5px;
  border: 1px #fff solid;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
}
.btn-outline:hover {
  background-image: linear-gradient(#d4e2ec, #9eadb4);
  border-color: #dadee0;
  color: #333;
  text-decoration: none;
}
.btn:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .site__container {
    padding: 0;
  }

  .site__container .navbar__container {
    flex-direction: column;
  }
  .site__container .navbar__container .navbar__logo {
    font-size: 28px;
  }
  .site__container .navbar__container .navbar__list {
    visibility: hidden;
  }

  .site__container .header__container {
    flex-direction: column;
  }
  .site__container .header__container .header__text {
    align-items: center;
    gap: 20px;
  }

  .tile__items {
    flex-direction: column;
  }

  .site__container .quote__container {
    font-size: 24px;
    padding: 50px 50px;
  }
  .site__container .quote__container .quote__byline {
    font-size: 18px;
  }
  .site__container .quote__container .quote__byline .quote__role {
    font-size: 12px;
  }
}
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", monospace;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/*=============================================
=            navbar            =
=============================================*/
.site__container .navbar__container {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px 0;
}
.site__container .navbar__container ul {
  display: flex;
  gap: 2.5rem;
}
.site__container .navbar__container a {
  color: #f9faf8;
}

.navbar__logo {
  font-family: "Shadows Into Light", sans-serif;
  font-size: 32px;
}

.nav__link {
  font-size: 14px;
}
.nav__link:hover {
  border-bottom: #e5e7eb 0.125rem solid;
  color: #e1e1e1;
  text-decoration: none;
}

/*=====  End of navbar  ======*/
/*=============================================
=            Header            =
=============================================*/
.site__container .header__container {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 50px 50px;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.header__mainHeader {
  color: #f9faf8;
  font-family: "Homemade Apple", sans-serif;
  font-size: 3rem;
  align-self: flex-start;
}

.header__coreText {
  color: #f9faf8;
}

.header__img img {
  border-radius: 10px;
}

/*=====  End of Header  ======*/
/*=============================================
=            Card Tile Section            =
=============================================*/
.tile__container {
  padding: 40px 100px;
}

.tile__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.tile__items {
  display: flex;
  gap: 2rem;
}
.tile__items p {
  text-align: center;
}
.tile__items img {
  border-radius: 10px;
}

/*=====  End of Card Tile Section  ======*/
/*=============================================
=            Quote Section            =
=============================================*/
.quote__container {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 40px 125px;
  font-size: 36px;
  font-family: "Shadows into light";
}

.quote__byline {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 600;
}
.quote__byline .quote__role {
  font-size: 18px;
}

/*=====  End of Quote Section  ======*/
/*=============================================
=            Call Section            =
=============================================*/
.call__container {
  padding: 50px 0px;
}

.call__bubble {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: #f9faf8;
  background-color: #3882f6;
  flex-direction: row;
  flex: 0 1 auto;
  border-radius: 25px;
  padding: 50px;
  margin: 0 50px;
  gap: 125px;
}
.call__bubble .call__item {
  display: flex;
  flex-direction: column;
}
.call__bubble .call__text {
  flex-grow: 1;
}
.call__bubble .call__button {
  flex-shrink: 0;
}

/*=====  End of Call Section  ======*/
/*=============================================
=            Footer            =
=============================================*/
.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 25px 50px;
  font-size: 0.8rem;
}

/*=====  End of Footer  ======*/
