@import url(https://fonts.googleapis.com/css?family=Satisfy:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light:regular);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple:regular);
.site__container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 100px;
}

.btn {
  background-image: linear-gradient(var(--button-color), #0c63d4);
  border-radius: 5px;
  border: 1px solid #0077cc;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
}
.btn-outline {
  border-radius: 5px;
  border: 1px #fff solid;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
}
.btn-outline:hover {
  background-image: linear-gradient(#d4e2ec, #9eadb4);
  border-color: #dadee0;
  color: #333;
  text-decoration: none;
}
.btn:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/*=============================================
=            navbar            =
=============================================*/
.site__container .navbar__container {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.site__container .navbar__container .navbar__logo {
  font-family: "Shadows Into Light", sans-serif;
}
.site__container .navbar__container .navbar__list:hover {
  border-bottom: #e5e7eb 0.125rem solid;
  color: #e1e1e1;
  text-decoration: none;
}
.site__container .navbar__container ul {
  display: flex;
  gap: 2.5rem;
}
.site__container .navbar__container a {
  color: #f9faf8;
}

/*=====  End of navbar  ======*/
/*=============================================
=            Header            =
=============================================*/
/*=====  End of Header  ======*/
