@import 'utilities';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', monospace;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/*=============================================
=            navbar            =
=============================================*/

.site__container .navbar__container {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  .navbar__logo {
    font-family: 'Shadows Into Light', sans-serif;
  }
  .navbar__list {
    &:hover {
      border-bottom: #e5e7eb 0.125rem solid;
      color: #e1e1e1;
      text-decoration: none;
    }
  }
  ul {
    display: flex;
    gap: 2.5rem;
  }
  a {
    color: $primary-text-color;
  }
}

/*=====  End of navbar  ======*/

/*=============================================
=            Header            =
=============================================*/

.site__container .header__container {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  gap: 50px;

  .header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header__mainHeader {
      color: $primary-text-color;
      font-family: 'Homemade Apple', sans-serif;
      font-size: 3rem;
      // TODO: figure out if this is necessary
      align-self: flex-start;
    }
  }
}

/*=====  End of Header  ======*/


/*=============================================
=            Card Tile Section            =
=============================================*/



/*=====  End of Card Tile Section  ======*/


/*=============================================
=            Quote Section            =
=============================================*/



/*=====  End of Quote Section  ======*/


/*=============================================
=            Call Section            =
=============================================*/



/*=====  End of Call Section  ======*/


/*=============================================
=            Footer            =
=============================================*/



/*=====  End of Footer  ======*/

