@import 'utilities';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', monospace;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/*=============================================
=            navbar            =
=============================================*/
nav {
  // background-color: $primary-color;
}
.site__container .navbar__container {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 100%;
  padding: 25px 50px 0;
  ul {
    display: flex;
    gap: 2.5rem;
  }

  a {
    color: $primary-text-color;
  }
}

.navbar__logo {
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 32px;
 
}

.nav__link {
  font-size: 14px;
  &:hover {
    border-bottom: #e5e7eb 0.125rem solid;
    color: #e1e1e1;
    text-decoration: none;
  }
}

/*=====  End of navbar  ======*/

/*=============================================
=            Header            =
=============================================*/

.site__container .header__container {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 50px 50px;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.header__mainHeader {
  color: $primary-text-color;
  font-family: 'Homemade Apple', sans-serif;
  font-size: 3rem;
  // TODO: figure out if this is necessary
  align-self: flex-start;
}

.header__coreText {
  color: $primary-text-color;
}

.header__img img {
  border-radius: 10px;
}

/*=====  End of Header  ======*/

/*=============================================
=            Card Tile Section            =
=============================================*/

.tile__container {
  // display: flex;
  padding: 40px 100px;
}

.tile__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.tile__items {
  display: flex;
  gap: 2rem;
  p {
    text-align: center;
  }
  img {
    border-radius: 10px;
  }
}

/*=====  End of Card Tile Section  ======*/

/*=============================================
=            Quote Section            =
=============================================*/

.quote__container {
  display: flex;
  flex-direction: column;
  background-color: $secondary-text-color;
  padding: 40px 125px;
  font-size: 36px;
  font-family: 'Shadows into light';
}

.quote__byline {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 600;

  .quote__role {
    font-size: 18px;
  }
}

/*=====  End of Quote Section  ======*/

/*=============================================
=            Call Section            =
=============================================*/

.call__container {
  padding: 50px 0px;
}
.call__bubble {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: $primary-text-color;
  background-color: $btn-color;
  flex-direction: row;
  flex: 0 1 auto;
  border-radius: 25px;
  padding: 50px;
  margin: 0 50px ;
  // gap: 125px;
  // margin: 0 100px;
  
  .call__item {
    display: flex;
    flex-direction: column;
    // gap: 40px;
  }

  .call__text {
    flex-grow: 1;
    p {
    // margin-right: 100px;

    }
    // flex-direction: column;
  }
  .call__button {
    flex-shrink: 0;
  }
}

/*=====  End of Call Section  ======*/

/*=============================================
=            Footer            =
=============================================*/

.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $primary-color;
  color: $primary-text-color;
  padding: 25px 50px;
  font-size: .80rem;
}

/*=====  End of Footer  ======*/
