@import url(https://fonts.googleapis.com/css?family=Satisfy:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light:regular);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple:regular);

:root {
  --main-color: #1f2937;
  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --button-color: #3882f6;
  --info-text: #1f2937;
  --call-color:#2882f6 ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/*=============================================
=            navbar            =
=============================================*/

.navbar {
  background-color: var(--main-color);
  padding-bottom: 100px;
}

.navbar .container {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.logo {
  font-family: 'Shadows Into Light';
  font-size: 2rem;
  font-weight: 600;
}

.navbar ul {
  display: flex;
  gap: 2.5rem;
  /* padding-right: */
  list-style-type: none;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  /* padding-right: 25px; */
  
}

.navbar a:hover {
  border-bottom: #e5e7eb .125rem solid;
  color: #e1e1e1;
  text-decoration: none;
}

/*=====  End of navbar  ======*/


/*=============================================
=            header            =
=============================================*/

.header {
  background-color: var(--main-color);
  padding-bottom: 100px;
}

.header .container {
  align-items: center;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 50px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.header-text h1 {
  color: var(--main-text-color);
  font-family: 'Homemade Apple', sans-serif;
  line-height: 1.3;
  font-size: 3rem;
  font-weight: 300;
  font-weight: 800;
  align-self: flex-start;
  gap: 25px;
}
.header-button {
  align-self: flex-start;
}


.header .container p {
  color: var(--secondary-text-color);
  font-size: 1.125rem;
}

.header .container img {
  border-radius: 5%;
  max-width: 25rem;
}

.header-img {
  
}
/*=====  End of header  ======*/

main {
  background-color: #f4f4f4;
}


/*=============================================
=            cards            =
=============================================*/

.cards {
  background-color: #f4f4f4;
  padding-bottom: 100px;
  padding-top: 50px;
}

.cards-container {
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cards-container > div {
  padding: 1.25rem;
}

.icon-title {
  align-content: center;
  color: var(--main-color);
  display: flex;
  font-size: 2.25rem;
  justify-content: center;
  padding-bottom: 25px;
}

.cards-container img {
  border-radius: 4%;
}

/*=====  End of cards  ======*/

.quote-section {
  background-color: var(--secondary-text-color);
  font-size: 2.25rem;
  font-style: italic;
  padding: 100px 0;
  /* max-width: 50%; */
}

.quote-section .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'shadows into light', sans-serif;
  justify-content: center;
}



.container .quote-byline {
  align-self: flex-end;
  display: flex;
  font-weight: 600;
}

.main-quote {
  padding: 0 50px;
}

.quote-byline {
  padding: 0 50px;
}


/*=============================================
=            call to action            =
=============================================*/
.call-section {
  padding: 6.25rem 0;
}

.call-group {
  align-content: center;
  background-color: var(--button-color);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex: 0 1  auto;
  padding: 50px; 
}

.call-header {
  flex-grow: 1;
  padding-right: 3.125rem; 
  color: var(--main-text-color)
}

.call-button {
  flex-shrink: 0;
}

/*=====  End of call to action  ======*/



/*=============================================
=            footer            =
=============================================*/

.footer {
  background-color: var(--main-color);
  padding: 3.125rem;
}

.footer .container {
  align-content: center;
  display: flex;
  justify-content: center;
}

.footer-text {
  align-content: center;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
}

/*=====  End of footer  ======*/


