@import url(https://fonts.googleapis.com/css?family=Satisfy:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light:regular);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple:regular);

:root {
  --main-color: #1f2937;
  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --button-color: #3882f6;
  --info-text: #1f2937;
  --call-color:#2882f6 ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}


/*=============================================
=            navbar            =
=============================================*/

.navbar {
  background-color: var(--main-color);
  /* padding-bottom: 100px */
  /* height: 60px; */
}

.navbar .container {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  font-size: 32px;
  font-family: 'shadows into light';
  letter-spacing: .1rem;
  /* font-style: italic; */
  font-weight: 600;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  /* margin-right: 11px; */
}

.navbar a {
  color: #fff;
  text-decoration: none;
  /* margin-right:15px; */
}

.navbar a:hover {
  color: #e1e1e1;
  text-decoration: none;
  border-bottom: #e5e7eb 2px solid;
}
/*=====  End of navbar  ======*/


/*=============================================
=            header            =
=============================================*/

.header {
  background-color: var(--main-color);
}

.header .container {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-family: 'Homemade Apple', sans-serif;
  font-weight: 300;
}

/* .header-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

img {
  max-width: 100%;
}

.header .container h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--main-text-color);
}

.header .container p {
  font-size: 18px;
  color: var(--secondary-text-color);
  /* max-width: 600px;  */
  /* margin: 20px 0 25px; */
}

.header .container img {
  max-width: 400px;
  border-radius: 5%;
}

main {
  background-color: #f4f4f4;
}

.cards {
  background-color: #f4f4f4;
  padding: 100px 0;
}

.flex-items {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.flex-items > div {
  padding: 20px;
}

.icon-title {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--main-color);
  font-size: 36px;
}

.flex-items img {
  border-radius: 4%;
}

.quote {
  background-color: var(--secondary-text-color);
  font-size: 36px;
  font-style: italic;
  padding: 100px 0;
}

.quote .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'shadows into light', sans-serif;
}


/*=============================================
=            call to action            =
=============================================*/

.call-section {
  padding: 100px 0;
}

.call-section .container {
  align-content: center;
  background-color: var(--button-color);
  display: flex;
  flex-direction: row;
  flex: 0 1  auto;
  /* justify-content: space-between; */
  padding: 100px 100px;
  border-radius: 1.5625rem;
}

.call-header {
  flex-grow: 1;
  padding-right: 50px; 

}

.call-header h1 {
  /* margin-bottom: 1rem; */
}

.call-button {
  flex-shrink: 0;
  
}

/*=====  End of call to action  ======*/



/*=============================================
=            footer            =
=============================================*/

.footer {
  background-color: var(--main-color);
  padding: 50px;
  /* height: 50px; */
}

.footer .container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.container .byline {
  font-weight: 600;
  display: flex;
  align-self: flex-end;
}

/*=====  End of footer  ======*/
