@import url(https://fonts.googleapis.com/css?family=Satisfy:regular);@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light:regular);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple:regular);

:root {
  --main-color: #1F2937;
  --main-text-color: #F9FAF8;
  --secondary-text-color: #E5E7EB ;
  --button-color: #3882f6;
  --info-text: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', monospace;
  /* background-color: var(--main-color); */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  /* background: rgb(12, 133, 214); */
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.navbar {
  background-color: var(--main-color);
  height: 60px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar .container {
  display: flex;
  background-color: var(--main-color);
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #e1e1e1;
  text-decoration: none;
  border-bottom: #E5E7EB 2px solid;
}

.logo {
  font-size: 32px;
  font-family: 'shadows into light';
  letter-spacing: .10rem;
  /* font-style: italic; */
  font-weight: 600;
}

.header {
  min-height: 400px;
  background-color: var(--main-color);

}

.header .container {
  background-color: var(--main-color);
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 50px;
}

.header .container div:first-child {
  padding-right: 100px;
  /* text-align: center; */
}



.header h1 {
  font-family: 'Homemade Apple', sans-serif;
  font-weight: 300;
}
img {
  max-width: 100%;
}



.header .container h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--main-text-color);
}

.header .container p {
  font-size: 18px;
  color: var(--secondary-text-color);
  max-width: 600px;
  margin: 20px 0 25px;
  
}

.header .container img {
  /* width: 10vw; */
  /* height: 50vh; */
  max-width: 400px;
  border-radius: 5%;
  /* margin-left: px; */
}
.icons {
  background-color: #f4f4f4;
}
.flex-items {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  /* height: 100%; */
  /* margin: 50px;
  padding: 50px; */
}

.flex-items > div {
  padding: 20px;
}

/* .icon-title {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
} */

.flex-items img {
  border-radius: 4%;
}

