@import url(https://fonts.googleapis.com/css?family=Satisfy:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light:regular);

:root {
  --main-color: #1f2937;
  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --button-color: #3882f6;
  --info-text: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  /* background: rgb(12, 133, 214); */
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.navbar {
  background-color: var(--main-color);
  /* height: 60px; */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
}

.navbar .container {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  /* margin-right: 11px; */
}

.navbar a {
  color: #fff;
  text-decoration: none;
  /* margin-right:15px; */
}

.navbar a:hover {
  color: #e1e1e1;
  text-decoration: none;
  border-bottom: #e5e7eb 2px solid;
}

.logo {
  font-size: 32px;
  font-family: 'shadows into light';
  letter-spacing: 0.1rem;
  /* font-style: italic; */
  font-weight: 600;
}

.header {
  min-height: 400px;
  background-color: var(--main-color);
}

.header .container {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 50px; */
}

.header h1 {
  font-family: 'Homemade Apple', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.header .container h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--main-text-color);
}

.header .container p {
  font-size: 18px;
  color: var(--secondary-text-color);
  max-width: 600px;
  margin: 20px 0 25px;
}

.header .container img {
  /* width: 10vw; */
  /* height: 50vh; */
  max-width: 400px;
  border-radius: 5%;
  /* margin-left: px; */
}

main {
  background-color: #f4f4f4;
}

.cards {
  background-color: #f4f4f4;
}

.flex-items {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  /* padding: 15px 20px; */
  /* margin: 20px 10px; */
  /* height: 100%; */
  /* margin: 50px; */
  /* padding: 25px 0; */
}

.flex-items>div {
  padding: 20px;
}

.icon-title {
  display: flex;
  justify-content: center;
  align-content: center;
  /* flex-direction: column; */
  /* padding: 50px 0; */
  color: var(--main-color);
  font-size: 36px;
  /* padding-top: 25px; */
}

.flex-items img {
  border-radius: 4%;
}

.quote {
  background-color: var(--secondary-text-color);
  font-size: 36px;
  font-style: italic;
  padding: 200px 0;
  /* padding: 200px 100px; */
  /* margin: 100px; */
}

.quote .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 10px; */
  /* margin: 10px; */
  font-family: 'shadows into light', sans-serif;
  /* padding: 200px; */
}

/* move byline */

/*=============================================
=            footer            =
=============================================*/

.footer {
  background-color: var(--main-color);
  /* height: 50px; */
}

.footer .container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.container .byline {
  /* padding-left: 299px; */
  font-weight: 600;
  display: flex;
  align-self: flex-end;
}

/*=====  End of footer  ======*/